.hypelink {
	color: #930;
	text-decoration: underline;
}
.maintext {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}
#container {
	clear: both;
	width: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
}
#Header {
	height: 50px;
	width: auto;
	margin-top: 20px;
}

#leftColumn {
	margin: 10px;
	padding: 10px;
	width: 350px;
	float: left;
}
#rightColumn {
	margin: 10px;
	padding: 10px;
	float: right;
	width: 350px;
}

body {
	text-align: center;
}
.Titles {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
